body {
  background-image: url("images/abstract-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.badge {
  margin-left: 10px;
}

.custom-card {
  background-color: rgb(1, 34, 43) !important;
  opacity: 0.8;
}
